a{
    text-decoration: none;
}
body{
    background: -webkit-linear-gradient(bottom,#3498db,#36a240);
    background-repeat: no-repeat;
}
label{
    font-family: "Raleway",sans-serif;
    font-size: 11px;
}
#forgot-pass{
    color: #000805;
    font-family: "Raleway",sans-serif;
    font-size: 10px;
    margin-top: 3px;
    text-align: right;

}
#card{
    background: #35b7b7;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,65) ;
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}
#card-content{
    padding: 12px 4px;
}
#card-title{
    font-family: "Raleway Thin",sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
#signup{
    color: #ffffff;
    font-family: "Raleway",sans-serif;
    font-size: 10px;
    margin-top: 50px;
    text-align: center;
}
.login-button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
  }
  
